<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../main/style.css">
   <title>Table</title>
</head>
<body>
   <h1>Here's a multiply table for 7</h1>
   
   <table>
      <tr>
         <td>num 1</td>
         <td>num 2</td>
         <td>result</td>
      </tr>
      {% for item in values %}
      <tr>
         <th>{{item.value1}} </th>
         <th>{{item.value2}}</th> 
         <th>{{item.result}}</th>
      </tr>
      {% endfor %}
   </table>
   
</body>
</html>